<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>inscriptionUser</display-name>
    <servlet-name>inscriptionUser</servlet-name>
    <servlet-class>com.flocolis.traitement.inscriptionUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscriptionUser</servlet-name>
    <url-pattern>/inscriptionUser</url-pattern>
  </servlet-mapping>
  <display-name>flocolis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>connexionUser</display-name>
    <servlet-name>connexionUser</servlet-name>
    <servlet-class>com.flocolis.traitement.connexionUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexionUser</servlet-name>
    <url-pattern>/connexionUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connexionAgent</display-name>
    <servlet-name>connexionAgent</servlet-name>
    <servlet-class>com.flocolis.traitement.connexionAgent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexionAgent</servlet-name>
    <url-pattern>/connexionAgent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>com.flocolis.traitement.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.flocolis.traitement.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutA</display-name>
    <servlet-name>logoutA</servlet-name>
    <servlet-class>com.flocolis.traitement.logoutA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutA</servlet-name>
    <url-pattern>/logoutA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.flocolis.traitement.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.flocolis.traitement.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trait</display-name>
    <servlet-name>trait</servlet-name>
    <servlet-class>com.flocolis.traitement.trait</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trait</servlet-name>
    <url-pattern>/trait</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trait2</display-name>
    <servlet-name>trait2</servlet-name>
    <servlet-class>com.flocolis.traitement.trait2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trait2</servlet-name>
    <url-pattern>/trait2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authAgence</display-name>
    <servlet-name>authAgence</servlet-name>
    <servlet-class>com.flocolis.traitement.authAgence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authAgence</servlet-name>
    <url-pattern>/authAgence</url-pattern>
  </servlet-mapping>
</web-app>